
// Colors //

$color__maya_blue:      #49ceff;
$color__dodger_blue:    #0099ff;
$color__ribbon_blue:    #0066ff;
$color__faint:          #f5f8fa;
$color__gray:           #43484d;
$color__light_gray:     #86939e;
$color__lighter_gray:   #dee0df;
$color__teal:           #86939e;
$color__border_primary: #e1e8ee;

// Fonts //

$font_logo:             "Roboto", sans-serif;
$font_headline:         "Raleway", sans-serif;
$font:                  "Raleway", sans-serif;
$font_alt:              "Raleway", sans-serif;
$font_code:             monospace;
